
<h1>EVENT MAKER</h1>
<p>Welcome to The Event Maker startup site!</p>
<p>We are a dedicated group of students, committed to making it easy for anyone to make their own event.</p>
<p>Anyone should be able to make their customizable bar crawl, quiz or anything that they desire</p>
<p>sign up here to get our newsletter!</p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScvjgoH5XRJUZvTV9010glhNy9x60VSkFxuCFgSPNRzQ9-yYA/viewform">newsletter</a>
